/********* Main *********/

.main-404 {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: #010813;
  overflow: hidden;
}

.main-404__game {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 50%;
  max-height: 50%;
  border-bottom: 2px solid #fff7ee;
}

.main-404__game-wrap-character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.game-started .main-404__game-wrap-character {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.main-404__title {
  font-family: 'Inter';
  font-size: 220px;
  line-height: 260px;
  font-weight: 400;
}
.game-started .main-404__title {
  display: none;
}

@keyframes jump{
  0%{bottom: 0;}
  50%{bottom: 80px;}
  100%{bottom: 0;}
}
.animateDown{
  animation: down 0.8s linear;
}
@keyframes down{
  0%{top: 150px;}
  30%{top: 200px;}
  70%{top: 200px;}
  100%{top: 150px;}
}

.main-404__game-character {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff7ee;
  transition: all 400ms ease-in-out;
}
.main-404__game-character.active {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
}
.game-started .main-404__game-character {
  bottom: 0;
  transform: translate(-50%,0);
}
.main-404__game-character.animate {
  transition: none;
  animation: 800ms ease jump;
}

.main-404__game-character img {
  display: none;
  vertical-align: bottom;
}
.main-404__game-character img.active {
  display: block;
}

.main-404__game-character-1 {
  height: 80px;
  width: 62px;
  overflow: hidden;
  object-fit: cover;
  object-position: -11px 22px;
}

.main-404__game-character-2 {
  height: 90px;
  width: 54px;
  overflow: hidden;
  object-fit: cover;
  object-position: -43px 0px;
}

.main-404__game-character-3 {
  height: 94px;
  width: 58px;
  overflow: hidden;
  object-fit: cover;
  object-position: -9px 6px;
}

.main-404__game-character-4 {
  height: 88px;
  width: 52px;
  overflow: hidden;
  object-fit: cover;
  object-position: -16px 0px;
}

.main-404__subtitle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Inter';
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.game-started .main-404__subtitle {
  display: none;
}

.main-404__wrap-game-score {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 16px;
  text-align: center;
}
.game-started .main-404__wrap-game-score {
  display: block;
}


/********* Obstacles *********/

.game-obstacles {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

@keyframes obstacle {
  0%{left: 1000px}
  100%{left: -1000px}
}

.game-obstacle {
  display: none;
  position: absolute;
  bottom: 0;
  left: 1000px;
}
.game-started .game-obstacle {
  display: block;
}

.game-block-1 {
  background-color: blue;
  width: 20px;
  height: 20px;
  animation: 6s linear 0s 1 obstacle;
}

.game-block-2 {
  background-color: red;
  width: 40px;
  height: 40px;
  animation: 6s linear 1s 1 obstacle;
}

.game-block-3 {
  transform: scaleX(-1);
  animation: 6s linear 4s infinite obstacle;
}
.game-block-3 img {
  vertical-align: bottom;
}


/********* Actions *********/

.main-404__actions {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 0 20px 40px 20px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.main-404__actions-or {
  margin: 16px 0;
}

.main-404__btn-start-game {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #fff7ee;
  background-color: transparent;
}

.main-404__btn-back-to-home {

}

